
cat <<EOF > .gitignore
# Ignore large notebooks and exports
notebooks/*.ipynb
notebooks/*.pdf
notebooks/*.html

# Ignore model weights and data
models/
*.pth
datasets/
results/Summary_of_my_work.txt
*.png
*.log
*.doc
*.docx
*.html

# Ignore cache and system files
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
EOF

